<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Nodemailer Email Exemple</title>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Send The Email</h1>
            <form>
                

            </form>
           
        </div> 

    </body>



</html>